requirement can_slam_storage = has:slam

# ===================================================== Weapons ====================================================== #

requirement has_non_explosive_hitscan_weapon = any(
	has:weapon.revolver.*.*.primary
	has:weapon.revolver.*.blue.secondary
	has:weapon.revolver.*.red.secondary
	has:weapon.railcannon.blue
)
requirement has_hitscan_weapon = any(
	has_non_explosive_hitscan_weapon
	has:weapon.railcannon.red
)

# === Revolvers === #

requirement can_throw_coin = any( has:weapon.revolver.*.green.secondary )

requirement can_throw_and_shoot_coin_non_explosively = all(
	can_throw_coin
	has_non_eplosive_hitscan_weapon
)
requirement can_throw_and_shoot_coin = all(
	can_throw_coin
	has_hitscan_weapon
)

# === Shotguns === #

requirement can_projectile_boost = all(
	any( has:weapon.shotgun.std.*.primary )
	has:arm.blue
)

requirement can_shotgun_std_explosive_boost = any(
	has:weapon.shotgun.*.blue.secondary
	all( has:weapon.shotgun.std.green.* )
)

requirement has_any_impact_hammer = any( has:weapon.shotgun.alt.*.primary )

# === Rockets === #

requirement can_shoot_rocket = any( has:weapon.rocket_launcher.*.primary )

requirement can_explode_srs_cannonball = all(
	has:weapon.rocket_launcher.green
	has_hitscan_weapon
)

# ==================================================================================================================== #

# Having only the standard Overheat's primary fire unlocked (*without* the secondary fire) is incredibly infuriating to
# play.
requirement can_kill_enemy_with_nailgun_green = any(
	all(
		any( has:weapon:nailgun.*.green.secondary )
		any( has:weapon.nailgun.*.*.primary )
	)

	# Having only the *alternate* Overheat's primary fire unlocked is fine.
	has:weapon.nailgun.alt.green.primary
)

# A more descriptive name for this requirement would be
# "can the player kill an enemy without it being absolutely infuriating" because some ways that the player can
# *technically* means either getting lucky or having to wait for extended periods of time to wait for something to
# recharge.
# Also keep in mind that this does *not* include idols or bosses.
requirement can_kill_enemy = any(
	has:slam

	has:arm.blue
	has:arm.red
	# Technically it is possible to kill enemies with just the Whiplash, however this is neither practically feasible
	# nor enjoyable for anything other than Filths or Strays.

	has:weapon.revolver.*.blue.*
	has:weapon.revolver.*.green.primary
	has:weapon.revolver.*.red.*

	has:weapon.shotgun.*.blue.*
	has:weapon.shotgun.*.green.primary
	has:weapon.shotgun.*.red.*

	has:weapon.nailgun.*.blue.primary
	can_kill_enemy_with_nailgun_green
	has:weapon.nailgun.*.red.primary

	# Excluding all Railcannons, since it means waiting multiple seconds before the player can shoot again.

	has:weapon.rocket_launcher.*.primary
	# Technically it is possible to kill with just the S.R.S Cannon's cannonball, but that is just waiting again.
)

requirement can_destroy_idol = any(
	has:slam # required for G rank

	has:arm.blue
	has:arm.red

	has_any_impact_hammer
)

requirement can_break_glass_non_explosively = any(
	has:arm.red

	has:weapon.revolver.std.blue.secondary
	can_throw_and_shoot_coin_non_explosively
	has:weapon.revolver.alt.*.primary
	has:weapon.revolver.alt.red.secondary

	has_any_impact_hammer

	has:weapon.railcannon.blue

	can_shoot_rocket # don't do lethal explosion on non-direct hit
)
requirement can_break_glass = any(
	can_break_glass_non_explosively

	can_throw_and_shoot_coin

	can_projectile_boost
	has:weapon.shotgun.*.blue.secondary
	all( has:weapon.shotgun.std.green.* )
)
