
@enemies

default_requirement = can_kill_enemy

# <ID> <requirement> "<display name>"

# Husks
filth "Filth"
stray "Stray"
schism "Schism"
soldier "Soldier"
stalker "Stalker"
sisyphean_insurrectionist "Sisyphean Insurrectionist"
ferryman "Ferryman"

# Machines
swordsmachine "Swordsmachine"
drone "Drone"
streetcleaner "Streetcleaner"
mindflayer "Mindflayer"
sentry "Sentry"
gutterman "Gutterman"
guttertank "Guttertank"

# Demons
malicious_face "Malicious Face"
cerberus "Cerberus"
hideous_mass "Hideous Mass"
idol "Idol" requirement=can_destroy_idol
mannequin "Mannequin"

# Angels
virtue "Virtue"



# bosses (move to specific missions)
boss v2_2 "V2 (2nd)"
boss earthmover "1000-THR Earthmover"
boss leviathan "Leviathan"
boss minotaur "Minotaur" # TODO: strike through
boss gabriel_1 "Gabriel, Judge of Hell"
boss gabriel_2 "Gabriel, Apostate of Hate"
boss flesh_prison "Flesh Prison"
boss flesh_panopticon "Flesh Panopticon"
boss minos_prime "Minos Prime"
boss sisyphus_prime "Sisyphus Prime"
