@items

slide "Slide"

stamina_bar x3 "Stamina Bar"

wall_jump x3 "Wall Jump"

slam "Slam"

arm {
	blue "Feedbacker"
	red "Knuckleblaster"
	green "Whiplash"
	# yellow "???"
}

weapon {
	revolver {
		std {
			blue { # Piercer
				primary
				secondary
			}

			green { # Marksman
				primary
				secondary
			}

			red { # Sharpshooter
				primary
				secondary
			}
		}

		alt { # "slab" revolver
			blue { # Piercer
				primary
				secondary
			}

			green { # Marksman
				primary
				secondary
			}

			red { # Sharpshooter
				primary
				secondary
			}
		}
	}

	shotgun {
		std {
			blue { # Core Eject
				primary
				secondary
			}

			green { # Pump Charge
				primary
				secondary
			}

			red { # Sawed-On
				primary
				secondary
			}
		}

		alt { # Impact Hammer
			blue { # Core Eject
				primary
				secondary
			}

			green { # Pump Charge
				primary
				secondary
			}

			red { # Sawed-On
				primary
				secondary
			}
		}
	}

	nailgun {
		std {
			blue { # Attractor
				primary
				secondary
			}

			green { # Overheat
				primary
				secondary
			}

			red { # Jumpstart
				primary
				secondary
			}
		}

		alt {
			blue { # Attractor
				primary
				secondary
			}

			green { # Overheat
				primary
				secondary
			}

			red { # Jumpstart
				primary
				secondary
			}
		}
	}

	railcannon {
		blue "Electric Railcannon"
		green "Screwdriver Railcannon"
		red "Malicious Railcannon"
	}

	rocket_launcher {
		blue { # Freezeframe
			primary
			secondary
		}

		green { # S.R.S. Cannon
			primary
			secondary
		}

		red { # Firestarter
			primary
			secondary
		}
	}
}
