# SPDX-License-Identifier: CC0-1.0

# Language-agnostic schema of the APWorld slot data.
# Both the APWorld and the client mod will generate a `SlotData` type from this data.
#
# This is a very simple line-based format.
# Each entry descriptor takes the form of:
#     <key>: <type> {
#         (i) <description line 1>
#         (i) <description line 2>
#         (i) <description line N>
#
#         <property 1 name> = <property 1 value>
#         <property 2 name> = <property 2 value>
#         <property N name> = <property N value>
#     }
#
# Type can be one of the following: `bool`, `int32` or `string`.
# Every type except `string` requires a fallback value. String uses an empty string for its fallback value.
#
# Descriptions aren't required but are highly encouraged.

version: string {
	(i) The version of the APWorld.
}

goal_requirement: int32 {
	min = 1
	max = 38

	fallback = 15
}

perfect_goal: bool {
	fallback = false
}

challenge_rewards: bool {
	fallback = false
}

p_rank_rewards: bool {
	fallback = false
}

hank_rewards: bool {
	fallback = false
}

randomize_clash_mode: bool {
	fallback = false
}

fish_rewards: bool {
	fallback = false
}

cleaning_rewards: bool {
	fallback = false
}

chess_reward: bool {
	fallback = false
}

rocket_race_reward: bool {
	fallback = false
}

start_with_arm: bool {
	fallback = true
}

starting_stamina: int32 {
	min = 0
	max = 3

	fallback = 3
}

starting_walljumps: int32 {
	min = 0
	max = 3

	fallback = 3
}

start_with_slide: bool {
	fallback = true
}

start_with_slam: bool {
	fallback = true
}

randomize_skulls: bool {
	fallback = false
}

randomize_limbo_switches: bool {
	fallback = false
}

randomize_violence_switches: bool {
	fallback = false
}

point_multiplier: int32 {
	min = 1

	fallback = 1
}

music_randomizer: bool {
	fallback = false
}

cybergrind_hints: bool {
	fallback = true
}

death_link: bool {
	fallback = false
}
