@layer_mission 1 "0-1: INTO THE FIRE"

# <https://ultrakill.wiki.gg/wiki/0-1:_Into_the_Fire#Level_Areas>

requirement can_break_secret1_vent = any(
	has:arm.red

	has:weapon.revolver.std.blue.secondary
	has:weapon.revolver.alt.*.primary
	has:weapon.revolver.alt.red.secondary

	has:weapon.shotgun.*.blue.secondary
	all( has:weapon.shotgun.std.green.* )
	can_projectile_boost
	has_any_impact_hammer

	has:weapon.railcannon.blue
	has:weapon.railcannon.red

	can_shoot_rocket
)

requirement has_vertical_mobility = any(
	has:wall_jump.1
	can_slam_storage
	can_projectile_boost
	can_shotgun_std_explosive_boost
	has_any_impact_hammer
	has:weapon.railcannon.red
	can_shoot_rocket
	can_explode_srs_cannonball
)

intro {
	# Currently always giving the player slide at the start.
	# requires any(
	# 	slide
	# 	slam
	# 	arm.blue
	# 	arm.red
	# 	arm.green
	# ) {
		entrance
	# }
}

first_arena {
	entrance intro

	locations $mission.gun enemy.filth
}
secret1_from_first_arena {
	requires can_break_glass {
		entrance first_arena
	}
}

pipes_hallway {
	requires any(
		can_kill_enemy
		all(
			can_break_glass
			can_break_secret1_vent
		)
	) {
		entrance first_arena
	}

	requires can_break_secret1_vent {
		entrance secret1_from_first_arena
	}

	locations enemy.filth
}
secret1_from_pipes_hallway {
	requires can_break_secret1_vent {
		entrance pipes_hallway
	}
}

secret1 {
	entrance secret1_from_first_arena
	entrance secret1_from_pipes_hallway

	locations $mission.soul_orb.1
}

glass_floor {
	entrance pipes_hallway
}

grinder_walkway {
	# Currently these glass panes get removed if the player cannot destroy them.
	# requires can_break_glass {
		entrance glass_floor
	# }

	locations enemy.filth
}

turbine_chamber {
	entrance grinder_walkway

	locations enemy.filth, $mission.soul_orb.2

	requires can_break_glass {
		locations $mission.challenge
	}
}

gear_room {
	entrance turbine_chamber

	# It's possible to lure filths from the previous room in here. Can we do anything with that?
	requires has_vertical_mobility {
		locations $mission.soul_orb.3
	}
}

projectile_arena {
	entrance gear_room

	locations enemy.filth enemy.stray
}

combo_hallway {
	requires can_kill_enemy {
		entrance projectile_arena
	}

	locations enemy.filth enemy.stray
}

layered_walkway_lower {
	entrance combo_hallway
}
layered_walkway_upper {
	requires all(
		can_break_glass
		has_vertical_mobility
	) {
		entrance layered_walkway_lower
	}

	locations enemy.filth enemy.stray $mission.soul_orb.4
}

requirement can_destroy_secret5_vent = any(
	# this thing is flimsy af

	has:slam

	has:arm.blue
	has:arm.red
	has:arm.green

	has:weapon.revolver.*.blue.*
	has:weapon.revolver.*.green.primary
	has:weapon.revolver.*.red.*

	has:weapon.shotgun.*.blue.*
	has:weapon.shotgun.*.green.primary
	has:weapon.shotgun.*.red.*

	# No need to also add Overheat's secondary fire, it cannot be used with a Nailgun's primary fire, which we already
	# have all of them here.
	has:weapon.nailgun.*.*.primary

	# S.R.S. cannonball cannot destroy it.
	has:weapon.rocket_launcher.*.primary
)
ground_slam_chamber {
	entrance layered_walkway_upper

	locations enemy.filth enemy.stray

	requires can_destroy_secret5_vent {
		locations $mission.soul_orb.5
	}
}

boss_arena {
	entrance ground_slam_chamber

	locations enemy.malicious_face

	requires can_kill_enemy {
		exit
	}
}
